<!doctype html>
<html lang="en" ng-app='store'>
<head>
  <meta charset="UTF-8">
  <title>Angular</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <script type='text/javascript' src='angular.min.js'></script>
  <script type='text/javascript' src='app_3.js'></script>

  <div ng-controller='StoreController as store'>
    <ul class="list-group"> 
      <li class="list-group-item" ng-repeat="product in store.products"> 
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
        </h3>

        <section ng-controller='PanelController as panel'> 
          <ul class="nav nav-pills">
            <li ng-class='{ active: panel.isSelected(1) }'>
              <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class='{ active: panel.isSelected(2) }'>
              <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class='{ active: panel.isSelected(3) }'>
              <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
          </ul>

          <div class="panel" ng-show='panel.isSelected(1)'>
            <h4>Description</h4> 
            <p>{{product.description}}</p> 
          </div>
          <div class="panel" ng-show='panel.isSelected(2)'>
            <h4>Specifications</h4> 
            <blockquote>None yet</blockquote> 
          </div>
          <div class="panel" ng-show='panel.isSelected(3)'>
            <h4>Reviews</h4> 
            <blockquote ng-repeat='review in product.reviews'>
              <b>Stars: {{review.stars}}</b>
              {{review.body}}<br>
              <cite> -- by: {{review.author}}</cite>
            </blockquote> 

            <!-- only submit form is it passes validations -->
            <form name='reviewForm' ng-controller='ReviewController as reviewCtrl' ng-submit='reviewForm.$valid && reviewCtrl.addReview(product)' novalidate>
              <!-- live preview -->
              <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}<br>
                <cite> -- by: {{reviewCtrl.review.author}}</cite>
              </blockquote> 

              <select ng-model='reviewCtrl.review.stars' required>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
              </select><br>
              <textarea ng-model='reviewCtrl.review.body' required></textarea><br>
              <label>by:</label>
              <input type="email" ng-model='reviewCtrl.review.author' required><br>
              <div>reviewForm is {{reviewForm.$valid}}</div>
              <input type="submit" value="Submit">
            </form>

          </div>
        </section>

      </li> 
    </ul> 
  </div>

</body>
</html>